#wrapper
{
	width:900px;
	border:1px solid blue;
	overflow:auto
}

#left
{
	float:left;
	width:200px;
	padding:5px;
}

#right
{
	float:left;
	padding:5px;	
	border-left:1px solid blue;
	width:650px;
}

a
{
	text-decoration:none;
}

label
{
	display:inline-block;
	width:100px;
	vertical-align:top;
	
}